body {
    margin: 0;
}

main {
    margin: auto;
    width: 90%;
    padding: 30px;
    height: 90vh;
    background-color: #3598dc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px gray;
    margin-top: 1%;
    
    border-radius: 10px;
}

.login {
    width: 42%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
    padding-top: 40px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    animation: anim1 forwards 2s;
}

.register {
    width: 42%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    padding-top: 40px;
    text-align: center;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    animation: anim2 forwards 2s;
}

#txt {
    background-color: #f2f2f2;
    padding: 10px;
    border: none;
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}

#txt:focus {
    outline: none;
}

#but {
    background-color: #3598dc;
    border: none;
    width: 93%;
    height: 50px;
    color: #fff8f6;
    border-radius: 5px;
    cursor: pointer;
}

.texty {
    width: 90%;
    margin: auto;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lm1 {
    width: 90%;
    margin: auto;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#l1 {
    background-color: #f2f2f2;
    padding: 10px;
    border: none;
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}

#l1 {
    outline: none;
}

#but:focus {
    outline: none;
}

#but:hover {
    background-color: #612ecc;
    transition: .5s;
}



.pog {
    background-color: #3598dc;
    border: none;
    width: 84%;
    margin: auto;
    height: 35px;
    color: #fff8f6;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer; 
    padding-top: 15px;
}

 input[id='bit1']:checked ~ .login {
    animation: anim2 2s forwards;
}

 input[id='bit1']:checked ~ .register {
    animation: anim1 2s forwards;
}

.lmao {
   width: 100%;
   height: 35px;
}

.spectxt {
    font-size: 30px;
    color: gray;
    font-family: sans-serif;
}

.pog:hover {
    background-color: #612ecc;
    transition: .5s;
}

#but:not(hover) {
    background-color: #3598dc;
    transition: .5s;
}

.pog:not(hover) {
    background-color: #3598dc;
    transition: .5s;
}

input[id="bit1"] {
    display: none;
}

input[id="bit2"] {
    display: none;
}


@keyframes anim1 {
    0%{
        opacity: 0;
        transform: translateX(900px);
        position: absolute;
    }
    100% {
        opacity: 1;
        transform: translateX(450px);
        position: absolute;
    }
}

@keyframes anim2 {
    0% {
        transform: translateX(450px);
        position: absolute;
    }
    100%{
        opacity: 0;
        transform: translate(900px);
        position: absolute;
       
    }
}